@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap');
@import url('general.css');
@import url('intro-screen.css');
@import url('background.css');
@import url('welcome.css');
@import url('about.css');
@import url('projects.css');
@import url('background-info.css');
@import url('contact.css');